.centered-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  justify-content: center;
  height: 100%;
}

.centered-links a {
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  line-height: 40px;
  border-bottom: 1px solid #a5a6e5;
  font-family: "Rubik", sans-serif;
}
